<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="flex-grow-1">
            <a aria-label="Home" class="logo" routerLink="/">
                <img src="assets/moneydefender-logo.png" alt="" style="width:240px;">
            </a>
        </div>
        <div class="flex-grow-1 float-right">
            <div *ngIf="isLoggedIn" class="float-right">
                <div class="user-menu">
                    <button class="userdetails">
                        <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png">
                        {{username}}
                    </button>
                    <button class="logout" (click)="logout()">Logout</button>
                </div>
            </div>            
            <div *ngIf="!isLoggedIn">
                <a routerLink="/signup" class="float-right sign-up mr-2">Sign up</a>
                <a routerLink="/login" class="float-right login mr-2">Login</a>
            </div>
        </div>
    </nav>
</header>