.courses-body {
    margin-top: 5rem;
}

.welcome {
    img {
        max-width: 100%;
    }

    h4 {
        color: #666;
    }
}

.course{
    --course-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.courses-available {
    margin-bottom: 4rem;
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.course-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.courseurl, .coursename{    
    color: black;
}

.course-text{
    margin-top: 10px;
}